body {
	font-family: arial, sans-serif;
}

div #logo{
	margin-top: 280px;
	width: 100%;
}

div#events.events{
	margin-left: 250px;
	margin-top: -35px;
	color: #4285f4;
}

input[type="text"] {
	border: white;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	height:30px;
	box-shadow: -2px 1px 3px 1px #dcdada;
	-moz-box-shadow: -2px 1px 3px 1px #dcdada;
	-webkit-box-shadow: -2px 1px 3px 1px #dcdada;
}

input[type="text"]:hover {
    box-shadow: -2px 1px 9px 4px #dcdada;
}

input[type="submit"] {
	width: 176px;
	height: 40px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	color: #757575;
	font-size: 13px;
	font-weight: bold;
	padding: 0 16px;
}

input[type="submit"]:hover {
	background-color: rgb(234, 232, 213);
	box-shadow: 0px 0px 3px 1px #efe7e7;
	-webkit-box-shadow: 0px 0px 3px 1px #efe7e7;
	-moz-box-shadow: 0px 0px 3px 1px #efe7e7;
	color: #383535;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.4);
    border-width: 2px;
}

body, html {
	background-color: white;
	margin: 0;
}

center {
	position: absolute;
	width: 100%;
	height: 50px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
}

span {
	display: inline-block;
	width: 4px;
}

.nav-main {
	position: absolute;
	width: 100%;
	background-color: rgba(210, 204, 204, 0.42);
	margin-top: 120px;
	bottom: 0;
}

#events {
	margin-top: -40px;
}

.list {
	display: inline-block;
	list-style: none;
	float: left;
	padding-left: 0px
}

.list1 {
	display: inline-block;
	list-style: none;
	float: right;
}

.list > li {
	display: inline-block;
}

.list1 > li {
	display: inline-block;
}

.nav-item {
	text-decoration: none;
	color: #524b4b;
	padding: 15px;
	line-height: 0px;
	font-size: smaller;
}

center div p {
	font-size: 13px;
    color: #4c4b4b;
}

center div a {
	text-decoration: none;
	padding: 5px;
}

.top-nav {
	position: absolute;
	top: 0;
	right: 0;
}

.top-nav-item a {
	text-decoration: none;
	color: grey;
	padding-right: 25px;
}

nav li {
	list-style: none;
}